.jumbotron {
    background-color: blueviolet;
    color: white;
    margin-top: 40px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: blueviolet;
    margin-bottom: 0;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.banner {
    width: 100%;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.btn-consulta {
    margin-bottom: 10px;
}

a, a:hover {
    color:black;
    text-decoration: none;
}

a:hover {
    font-weight: 500;
}

.barra {
    color: white;
}

.barra:hover {
    font-weight: 500;
    color: white;
}

.footer-adress-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}