@purple: #8c1bf5;
@white: #fbf7ff;
@black: #000000;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.jumbotron {
    background-color: @purple;
    color: @white;
    .margenes(50px, 20px);
}
  
  footer {
    background-color: @purple;
    .margenes(10px, 0px);
    .padding(10px, 10px, 0px, 10px);
}
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);
}
  
  .banner {
    width: 100%; }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .btn-consulta {
    .margenes(0px, 10px);
 }
  
  a, a:hover {
    color: @black;
    text-decoration: none; }
  
  a:hover {
    font-weight: 500; }
  
  .barra {
    color: @white; }
  
  .barra:hover {
    font-weight: 500;
    color: @white; }
  
  .footer-adress-icon {
    .padding(0px, 10px, 0px, 0px);
}
  
  .tab-content {
    .padding(10px, 0px, 0px, 0px);
}
  