$purple: #8c1bf5;
$white: #fbf7ff;
$black: #000000;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    background-color: $purple;
    color: $white;
    @include margenes(50px, 20px);
}

footer {
    background-color: $purple;
    @include margenes(10px, 0px);
    @include padding(10px, 10px, 0px, 10px);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.banner {
    width: 100%;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.btn-consulta {
    @include margenes(0px, 10px);
}

a, a:hover {
    color:$black;
    text-decoration: none;
}

a:hover {
    font-weight: 500;
}

.barra {
    color: $white;
}

.barra:hover {
    font-weight: 500;
    color: $white;
}

.footer-adress-icon {
    @include padding(0px, 10px, 0px, 0px);
}

.tab-content {
    @include padding(10px, 0px, 0px, 0px);
}