.jumbotron {
  background-color: #8c1bf5;
  color: #fbf7ff;
  margin-top: 50px;
  margin-bottom: 20px;
}
footer {
  background-color: #8c1bf5;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.banner {
  width: 100%;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.btn-consulta {
  margin-top: 0px;
  margin-bottom: 10px;
}
a,
a:hover {
  color: #000000;
  text-decoration: none;
}
a:hover {
  font-weight: 500;
}
.barra {
  color: #fbf7ff;
}
.barra:hover {
  font-weight: 500;
  color: #fbf7ff;
}
.footer-adress-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
